{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mu Theta Zeta Psi</title>
    <meta name="description" content="Website ">
    <meta name="author" content="Mu Theta Zeta Psi">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- <script src="{% static 'script.js' %}"></script> -->
</head>

<body>

<header>
</header>

<div>

    <main>{% block content %} {% endblock %}</main>

    <div class="container">
        <nav>
            <img src="{% static 'img/zetaPsiBlackGoldLogo.PNG' %}"/>
            <div>
                <a href="home.html">Home</a>
                <a href="members.html">Members</a>
                <a href="events.html">Events</a>
            </div>
        </nav>
        <div id="memberForm">
            <h3>Become a Member</h3>
            {% for msg in messages %}
                {{ msg }}
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_table}}
                <input type="submit" id="button">
            </form>
        </div>
    </div>
</div>

<footer>
    <div>
    </div>
    <div id="copyright">

    </div>
</footer>

</body>

</html>