{% extends 'base.html' %}

{% block content %}    
<section id="secOne">
    <article id="heroArt">
        <div id="whoWeAre">
            <h2>Who We Are</h2>
            <p id="aboutUs">A global fraternity sustained by love and lifelong friendships since 1847, Zeta Psi members recruit and develop authentic, honorable men, loyal to creating a better brotherhood and better communities.</p>
        </div>
    </article>
    <article>
        <h2>Mission</h2>
        <p>Our mission is to help you succeed after graduation. We pride ourselves on creating better and more successful men with great memories, lifelong friends, and the best experience they could have in college and beyond.</p>
    </article>
    <article>
        <h2>Events</h2>
        <p>[Need To Implement]</p>
    </article>
    <article>
        <h2>Location</h2>
        <p style="text-align: center;">11009 88 Ave NW </p>
        <p style="text-align: center;">Edmonton, AB T6G 0Z3</p>   
    </article>
</section>
{% endblock %}