body {
    background: white;
    background-image: linear-gradient(to right top, #000000, #270f15, #47111f, #691026, #8c0a2a, #a81e2a, #c23326, #da491e, #eb6f0e, #f79400, #feb900, #ffde00);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body > div {
    display: flex;
    /* border: black solid; */
}

h2 {
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

.container {
    /* outline: red dotted; */
    background: white;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5vh;
    height: 100%;
    width: 33%;
    margin-right: 4rem;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

nav {
    /* border: solid blue; */
    width: 100%;
    height: auto;
}

nav > img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

nav > div {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    display: inline-block;
    width: auto;
    margin: 1rem 1rem;
    font-size: 1.5rem;
}

form {
    /* outline: red solid; */
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

form > input, label {
    font-size: 1.3rem;
    margin: 0.5rem;
}

main {
    /* border: solid red; */
    width: 60%;
    height: 100vh;
}

main section {
    width: auto;
    margin: 1rem 5rem;
    font-size: 1.5rem;
    color: white;
}