body {
    background-color: #c5cca02f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body > div {
    display: flex;
}

nav {
    border: solid blue;
    width: 40rem;
}

nav ul {
    list-style: none;
}

nav a {
    border: solid purple;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    margin: 1rem 0;
}

main {
    border: solid red;
}