{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="fullContent">
    <h1>About Us</h1>
    <p>Our chapter has existed at the University of Alberta since 1930 (though we existed in secret even prior to this), with a long and illustrious history on campus! As the nature of time has changed the culture of our chapter through our long years, the values by which our fraternity and chapter were founded upon still remain. We strive to be a place of growth and development for our chapter members and everyone around us. We care deeply for our campus and community, and are always searching for new and innovative ways to make student life and the communities we serve better through our actions and initiatives.</p>
    <h1>What We Stand For</h1>

    <div>
        <div>
            <h4>Diversity</h4>
            <p>Our chapter firmly believes in diversity in all aspects. With members from a diversity of academic disciplines, cultural, religious, and socio-economic backgrounds, and political beliefs, we accept individuals from every walk of life regardless of identity. What matters to us is that you continue to be yourself. How you define self, what it means to you, and who you are is what's most important to us; we're invested in you as your whole and true self deserving of all the love and support we aim to provide. Whether you're a shimmering gem or a flower blooming in snow, we welcome you with open arms!</p>
        </div>
        <div>
            <h4>Culture and Creativity</h4>
            <p>We seek to be a space in which creativity can thrive! Through events that promote the arts and a foundational structure that values creative innovation, we cherish the often chaotic, creative ideas and energy that anyone can bring to the table! Whatever your niche, from performing art to bureaucratic excellence, we strive to be a place in which your creative energy can thrive!</p>    
        </div>
        <div>
            <h4>Academics</h4>
            <p>We're all in school together. Therefore, supporting each others' academic pursuits, whether through organized study sessions or advice from our alumni, is paramount in our priorities. We want our members to become their truest selves, and doing what we can to ensure academic excellence comes first and foremost in our goal to actualize this idea.</p>
        </div>
        <div>
            <h4>Campus / Community Involvement</h4>
            <p>Through our philanthropy and involvement in student life outside of the Fraternity system, we seek to make our campus and communities better through our explicit involvement. Fundraising for charities and organizations we believe in, from raising money to help elementary school classrooms with school supplies to donating to the Edmonton Food Bank, is but one of the ways in which we try to serve local communities. Additionally, we volunteer our time, and raise awareness for organizations and issues we care deeply about. For example, we raise awareness for the <a class="link" href="https://www.joinonelove.org">One Love Foundation</a> and volunteer our time at the Edmonton Food Bank. We are constantly seeking new ways in which our money, time, and resources may be used to help make the world around us a better place.</p>
        </div>
        <div>
            <h4>Quality Leisure and Personal Growth</h4>
            <p>Life as a student, the burdens of academics, and life in general can get extremely cumbersome. We desire to provide our members and those around us with a space in which you can be yourself, and find support and relief amongst your peers. With a wide array of events and an open door whenever you need it, we aim to be a safe space of fulfilling leisure to remember the finer things in life beyond the constant demands and expectations that living often comes with. Our only expectation is for you to be yourself! Any ways that we can show you the love, guidance, and support that you deserve, we can and will provide! We would love to get to know you better, and watch you grow into the best you that you can be!</p>    
        </div>
    </div>

    <h1>Our Fraternity</h1>
    <ul>
        <li>Zeta Psi was founded in 1847 in New York, United States.</li>
        <li>Zeta Psi has 53 active chapters and 34 inactive chapters across the United States, Canada, the United Kingdom, Ireland, and France, with 13 chapters in Canada!</li>
        <li>We send two delegates for free to the two international conferences held each year. It's a great way to meet brothers from across the globe!</li>
    </ul>
    <h1>Our Chapter</h1>
    <ul>
        <li>Our chapter has existed since 1930 at the University of Alberta.</li>
        <li>We have 19 active members, and a large alumni body that continues to support us.</li>
        <li>We have very close ties with our sister chapter at the University of Calgary, spending time with them on a monthly basis!</li>
        <li>We are strongly involved with the InterFraternity Council, and care deeply about Greek relations on campus.</li>
        <li>Our house is located in East Campus Village, a perfect walking distance from campus!</li>
    </ul>

</section>
{% endblock %}